version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 5
    commit-message:
      prefix: "go"
    assignees:
      - "daylamtayari"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 5
    commit-message:
      prefix: "gh-actions"
    assignees:
      - "daylamtayari"
