name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  id-token: write
  contents: write

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    timeout-minutes: 10
    env:
      GOARCH: amd64
    strategy:
      fail-fast: true
      matrix:
        goos:
          - "linux"
          - "windows"
          - "darwin"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: "1.25"
      - name: "Go Build"
        if: ${{ matrix.goos != 'windows' }}
        run: GOOS=${{ matrix.goos }} go build -v -trimpath -o ./release/mstodoexport-${{ matrix.goos }}-amd64
      - name: "Go Build Windows"
        if: ${{ matrix.goos == 'windows' }}
        run: GOOS=${{ matrix.goos }} go build -v -trimpath -o ./release/mstodoexport-${{ matrix.goos }}-amd64.exe
      - name: "Generate Checksums"
        run: |
          cd release
          sha256sum mstodoexport-* > SHA256SUMS
          md5sum mstodoexport-* > MD5SUMS
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: ./release/*
